.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.birthDayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 40px;
    height: 40px;
}
.birthdayText{
    font-size: 15px;
}

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarTitle{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}
.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
}
.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.rightbarFollowButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.rightbarFollowButton:hover{
    scale: 1.1;
}
